package blocks

templ PageHeader(heading, subHeading string) {
	<div class="mb-8">
		<h1 class="text-3xl font-bold">{ heading }</h1>
		<p class="text-muted-foreground mt-2">{ subHeading }</p>
	</div>
}
