package pages

import "git.juancwu.dev/juancwu/budgit/internal/ui/layouts"

templ Dashboard() {
	@layouts.App("Dashboard") {
		<div class="container max-w-7xl px-6 py-8">
			<div class="mb-8">
				<h1 class="text-3xl font-bold">Dashboard</h1>
				<p class="text-muted-foreground mt-2">
					Welcome to your dashboard
				</p>
			</div>
		</div>
	}
}
